.EditValuesModal--form-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
  padding-top: 8px;
}

@media (min-width: 680px) {
  .EditValuesModal--form-container {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}

.EditValuesModal--save {
  grid-column: 1 / -1;
  margin-top: 8px;
}
