.NomineesGrid {
  display: flex;
  flex-wrap: nowrap;
  padding: 8px 8px 24px 16px;
  margin-left: 28px;
  overflow-y: visible;
  align-items: center;
  border-left: 2px solid rgb(230, 230, 230);
}

.NomineesGrid--list {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.NomineesGrid--list::-webkit-scrollbar {
  display: none;
}
