.Category {
  transition: all 0.3s ease !important;
  box-shadow: none !important;
  margin-left: -16px;
  margin-right: -16px;
  margin-bottom: 8px;
}

.Category__status-icon {
  box-sizing: border-box;
  border-radius: 100%;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  width: 28px !important;
  height: 28px !important;
  margin-right: 8px !important;
}

.Category__status-icon--correct {
  border: 3px solid #b7a261;
}

.Category__oscar-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 22px;
  height: 22px;
  background-color: #b7a261;
  border-radius: 100%;
  border: 2px solid #fff;
}

.Category__status-icon--incorrect {
  border: 3px solid rgb(255, 0, 0);
}

.Category__selection-icon {
  border: 3px solid rgb(175, 175, 175);
}

.Category__complete-icon {
  border: 3px solid rgb(56, 109, 159);
}
