.PageHeading {
  @media (min-width: 668px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  margin-bottom: 24px;
  width: 100%;
}

.PageHeading-text {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #333;
}
