.Group--game-name {
  color: #b7a261;
  margin-bottom: 0;
}

.Group--actions {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.Group--create-entry-button {
  margin-bottom: 0;
}

@media (min-width: 680px) {
  .Group--create-entry-button {
    margin-top: 0;
    margin-right: 0;
  }
}
